<!--
-Maria Gallardo.
-File: personal_info.html

-This file contains the form to retrieve the user's input: first name, last name,
age, gender and phone number
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Personal Information</title>
</head>
<body>

<!--Form to retrieve user's personal information with a form-->

<!-- Create a container for the navigation bar -->
<div class="navbar navbar-light bg-light"><p class="text-secondary">My Dating Site</p></div>

<!-- Create the main container for the form -->
<div class="main container border mt-3 p-4">
    <h2 class="pb-2 border-bottom">Personal Information</h2>

    <!--Add the form-->
    <form class="row" method="post" action="#">
        <div class="col-md-8">
            <div class="form-group">
                <label for="fname" class="font-weight-bold">First Name</label>
                 <input type="text" class="form-control" id="fname" name="fname" placeholder="Sarah"
                        value="{{ @fname }}">
                <check if="{{ @errors['fname'] }}">
                    <span class="err">{{ @errors['fname'] }}</span>
                </check>
            </div>
            <label for="lname" class="font-weight-bold">Last Name</label>
            <div class="form-group">
                <input type="text" id="lname" class="form-control" name="lname" placeholder="Smith"
                 value="{{ @lname }}">
                <check if="{{ @errors['lname'] }}">
                    <span class="err">{{ @errors['lname'] }}</span>
                </check>
            </div>
            <label for="age" class="font-weight-bold">Age</label>
            <div class="form-group">
                <input type="text" id="age" class="form-control" name="age" placeholder="30"
                 value="{{ @age }}">
                <check if="{{ @errors['age'] }}">
                    <span class="err">{{ @errors['age'] }}</span>
                </check>
            </div>

            <label class="font-weight-bold">Gender</label>
            <div id="gender" class="form-group">
                <input type="radio" name="gender" value="male"
                <check if="{{ @gender == male }}">checked</check>> Male
               <input type="radio" name="gender" value="female"
                <check if="{{ @gender == female }}">checked</check>> Female
            </div>
            <label for="phone" class="font-weight-bold">Phone Number</label>
            <div class="form-group">
                <input type="tel" class="form-control" id="phone" name="phone"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                       placeholder="222-333-444" value="{{ @phone }}" maxlength="12">
                <check if="{{ @errors['phone'] }}">
                    <span class="err">{{ @errors['phone'] }}</span>
                </check>
            </div>
            <div class="form-group">
                <label for="premium" class="font-weight-bold">Premium Membership</label><br>
                <input type="checkbox" id="premium" name="premium">
                Sign me up for a premium account!</input>
            </div>
        </div>

        <!-- Add another div for the note-->
        <div class="col-md-4">
            <div class="jumbotron p-2 mt-4 text-center">
                <p><span class="font-weight-bold">Note: </span>All information entered is protected
                    by our <a href="">private policy</a>. Profile information can only viewed by others
                    with your permission.</p>
            </div>
        </div>
        <input type="submit" class="btn btn-primary offset-11" value="Next >">
    </form>
</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
