<!--
-Maria Gallardo.
-File: profile.html

-This file contains the form to retrieve the user's input: email, state, location and
seeking.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Profile</title>
</head>
<body>

<!--Form to retrieve user's personal information with a form-->

<!-- Create a container for the navigation bar -->
<div class="navbar navbar-light bg-light"><p class="text-secondary">My Dating Site</p></div>

<!-- Create the main container for the form -->
<div class="main container border mt-3 p-4">
    <h2 class="pb-2 border-bottom">Profile</h2>
    <form class="row" method="post" action="#">
        <div class="col-lg-7">

            <!--Add the form-->
            <label for="email" class="font-weight-bold">Email</label>
                <div class="form-group">
                <input type="text" id="email" class="form-control" name="email" placeholder="my_email@gmail.com"
                    value="{{ @email }}">
                    <check if="{{ @errors['email'] }}">
                        <span class="err">{{ @errors['email'] }}</span>
                    </check>
            </div>

            <label for="state" class="font-weight-bold">State</label>
            <div class="form-group">
                <select id="state" name="state" class="form-control">
                    <repeat group="{{ @states }}" value="{{ @eachState }}">
                        <option value="{{ @eachState }}"
                        <check if="{{ @eachState == @state }}">selected
                        </check>>{{ @eachState }}</option>
                    </repeat>
                </select>
                <check if="{{ @errors['email'] }}">
                    <span class="err">{{ @errors['state'] }}</span>
                </check>
            </div>

            <label class="font-weight-bold">Seeking</label>
            <div id="seeking" class="form-group">
                <input type="radio" name="seeking" value="male"
                <check if="{{ @seeking== male }}">checked</check>>Male
                <input type="radio" name="seeking" value="female"
                <check if="{{ @seeking == female}}">checked</check>>Female
            </div>
        </div>

        <!-- Add another div for the Biography-->
        <div class="form-group col-md-5">
            <label for="bio" class="font-weight-bold">Biography</label>
            <textarea class="form-control" rows="5"
                placeholder="Tell us a little bit about your self..." id="bio"
                      name="bio">{{ @bio }}</textarea>
        </div>
        <input type="submit" class="btn btn-primary offset-11" value="Next >">
    </form>
</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
